*{
	margin: 0;
	padding: 0;
}

 
/*Creates a border around the entire homepage of 10 pixels*/
html, body {
	height: 100%;
	font-family: Arial;
	padding:0;
	background: url("background.jpg") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}
/* Creates the navigation bar*/
nav{
	width: 100%;
	height: 120px;
	background-color: rgb(54,69,30);
}
/* Move the content of the navigation along with the logo to left of the screen*/
nav p a{
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	
}
/* Move the actual navigation bar e.g Admission to the left*/
nav ul{
	float:right;
	padding-top:25px;
	position: relative; 

}
/*Flots the navbar to the left*/
nav ul li{
	float: left;
	list-style: none;
	position: relative;
}
/* Changes the font of the navigation bar to arial and as well as the color of the letters*/
nav ul li a{
	font-family: arial;
	display: block;
	color:orange;
	font-size: 14px;
	padding: 24px 40px;
	text-decoration: none;
}
/*Turn the navigition color to the school original color*/
nav ul li ul{
	display: none;
	position: absolute;
	background-color: rgb(54,69,30);
	padding: 10px;
}
nav a:hover{
	color: lightgrey;
}
/*Make sure when the mouse is hovered the list it displays the actual drop down menu on the navigation*/
nav ul li:hover ul{
	display: block;
}
/*Give the drop down menu a width of 180pixels and a border radius of 4 pixels*/
nav ul li ul li{
	width: 180px;
	border-radius: 4px;
}
/*Make sure the drop down menu have a paddig of 8 pixels from the left and right and 14 pixels from the top and down*/
nav ul li ul li a{
	padding: 8px 14px;
}
/* Make sure there a color change of lightgrey as soon the mouse is hovered over the letter individually*/
nav ul li ul li a:hover{ 
	color: lightgrey;
}

h1{
	color:orange;
	font-family: Arial;
	font-weight: bold;
	font-size: 30px
}
p{
	color:orange;
	font-family: Arial;
	font-weight: normal;
	font-size: 20px;
	display: inline-block;
}
a{
	list-style-type: none;
}

.wrapper{
	margin:0 auto;
	width: 1000px;
}
.wrapper2{
	margin: 0 auto;
	width:1300px;
	padding:20px; 
}
.wrapper3{
	margin: 0 auto;
	width:800px;
	padding:20px; 
}


#container{
	min-height: 200%;
}
#main{
	overflow: auto;
	padding-bottom:100px;
}
#footer{
	background-color: rgb(54,69,30);
	position: relative;
	height: 100px;
	margin-top: -100px;
	clear: both;
	padding:10px;
}
.home-banner{
	width: 100%;
	height: 50vh;
	background-image: url('HomeBanner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}
.art-banner{
	width: 100%;
	height: 50vh;
	background-image: url('ArtBanner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}
.biology-banner{
	width: 100%;
	height: 50vh;
	background-image: url('BiologyBanner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}
.business-banner{
	width: 100%;
	height: 50vh;
	background-image: url('BusinessBanner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}
.computerscience-banner{
	width: 100%;
	height: 50vh;
	background-image: url('ScienceBanner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}
.english-banner{
	width: 100%;
	height: 50vh;
	background-image: url('EnglishBanner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}

.math-banner{
	width: 100%;
	height: 50vh;
	background-image: url('MathBanner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}


